input[type="submit"] {
    padding: 1%;
}

@media (min-width: 320px) and (max-width: 999px) {
    .headers {
        font-size: 17px;
        font-family: headerFont;
    }

    .attribute {
        display: flex;
        flex-direction: column;
    }
    .attribute-header {
        font-size: 12px;
        margin-bottom: 0;
        font-family: headerFont;
    }
    .attribute-details {
        font-size: 11px;
        margin-top: 1%;
        font-family: contentFont;
    }

    .input-field {
        width: 170px;
        height: 70px;
        font-family: contentFont;
    }
}
@media (min-width: 1000px) {
    .headers {
        font-family: headerFont;
    }

    .input-field {
        width: 400px;
        height: 100px;
        font-family: contentFont;
    }

    .attribute {
        display: flex;
        flex-direction: column;
    }
    .attribute-header {
        margin-bottom: 0;
        font-family: headerFont;
    }
    .attribute-details {
        margin-top: 1%;
        font-family: contentFont;
    }
}