.modal-filter {
    /* AKA the gray filter outside the modal */
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 1920px;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slide-up {
    to {
        transform: translateY(0);
    }

    from {
        transform: translateY(100%)
    }
}

.modal-content {
    /* Everything in the modal */
    width: 100%;
    height: 70%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0) rgb(190, 184, 195);
    margin-top: auto;
}

.modal-line {
    border: none;
    width: auto;
    height: 2px;
    background-color: rgb(98, 31, 175);
}


.backstory-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    resize: vertical !important;
}

input[type="text"] {
    border-radius: 5px;
    border-style: solid;
    border-width: .5px;
    border-color: black;
    padding-left: 2%;
    width: 80%;
}

#backstory {
    border-radius: 5px;
    border-style: solid;
    border-width: .5px;
    border-color: black;
    padding-left: 3%;
}

/* Close button styling */
.close-button {
    background: none;
    border: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    margin-right: 2%;
    box-shadow: none !important;
}

.close-button:hover {
    color: #ff0000;
    /* Change color on hover */
}

button {
    background-color: #dbdae0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
}

@media (min-width: 999px) {
    .modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 35%;
        height: 65vh;
        background-color: rgb(121, 112, 130);
        border-radius: 7%;
        padding: 0;
        animation: slide-up 0.5s ease forwards;
        margin: auto;
    }

    /* Form inside the modal */
    .modal-form {
        max-height: 80%;
        overflow: auto;
        margin-top: 6%;
    }

    .save-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6%;
    }

    .modal-content-h3 {
        font-size: 19px;
    }

    .modal-content-h4 {
        font-size: 15px;
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    input[type="text"] {
        font-size: 13px;
    }

    label {
        font-size: 18px;
        margin-top: 7%;
    }

    #backstory {
        width: 305px;
        height: 100px;
    }
}


@media (min-width: 650px) and (max-width: 999px) {
    .modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10% auto;
        width: 75%;
        height: 70vh;
        background-color: rgb(121, 112, 130);
        border-radius: 7%;
        padding: 0;
        animation: slide-up 0.5s ease forwards;
    }

    .modal-form {
        max-height: 80%;
        overflow: auto;
        margin-top: 5%;
    }

    .save-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4%;
    }

    .modal-content-h3 {
        font-size: 25px;
    }

    .modal-content-h4 {
        font-size: 16px;
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    input[type="text"] {
        font-size: 14px;
    }

    label {
        font-size: 20px;
        margin-top: 7%;
    }

    #backstory {
        width: 420px;
        height: 150px;
    }

    button {
        padding-left: 1.5%;
        padding-right: 1.5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

@media (min-width: 415px) and (max-width: 650px) {
    .modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10% auto;
        width: 75%;
        height: 65vh;
        background-color: rgb(121, 112, 130);
        border-radius: 7%;
        padding: 0;
        animation: slide-up 0.5s ease forwards;
    }

    .modal-form {
        max-height: 80%;
        overflow: auto;
        margin-top: 5%;
    }

    .save-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6%;
    }

    .modal-content-h3 {
        font-size: 17px;
    }

    .modal-content-h4 {
        font-size: 12px;
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    input[type="text"] {
        font-size: 13px;
    }

    label {
        font-size: 17px;
        margin-top: 7%;
    }

    #backstory {
        width: 260px;
        height: 150px;
    }

    button {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
}

@media (min-width: 300px) and (max-width: 415px) {
    .modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10% auto;
        width: 75%;
        height: 63vh;
        background-color: rgb(121, 112, 130);
        border-radius: 7%;
        padding: 0;
        animation: slide-up 0.5s ease forwards;
    }

    .modal-form {
        max-height: 80%;
        overflow: auto;
        margin-top: 14%;
    }

    .save-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12%;
    }

    .modal-content-h3 {
        font-size: 11px;
    }

    .modal-content-h4 {
        font-size: 9px;
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    input[type="text"] {
        font-size: 12px;
    }

    label {
        font-size: 15px;
        margin-top: 7%;
    }


    #backstory {
        width: 170px;
        height: 175px;
        font-size: 12px;
    }

    button {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}