.modal-filter {
    /* AKA the gray filter outside the modal */
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 1920px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    display: flex;
    justify-content: center;
    margin: 10% auto;
    width: 43%;
    height: 65vh;
    background-color: rgb(121, 112, 130);
    border-radius: 7%;
    padding: 0;
    animation: slide-up 0.5s ease forwards;
}

.modal-line {
    border: none;
    width: auto;
    height: 2px;
    background-color: rgb(98, 31, 175);
}

/* Form inside the modal */
.modal-form {
    max-height: 90%;
    overflow: auto;
}